.depoimento{
    display: grid;
    grid-template-columns:1fr 1fr ;
    background-color:var(--cp1);
    overflow: hidden;
}

.depoimento img{
    border-radius:0px;
    width:100%;
    height:100%;
    object-fit:cover;
}

.depoimento-conteudo{
    padding:40px 40px 80px 80px;
    align-self:end;
}

.depoimento-conteudo p{
    font-family:"Merriweather",serif;
    font-style: italic;
    margin-bottom:32px;
    max-width:32ch;
    position:relative;
}


.depoimento-conteudo p::before,.depoimento-conteudo p::after{

    color:var(--cp2);
    font-size:5rem;
    position: absolute

}
.depoimento-conteudo p::before{
    content:'“';
    ;
    left:-50px;
    top:-20px;
}

.depoimento-conteudo p::after{
    content: '”';
    
}
@media (max-width:800px){
    .depoimento{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .depoimento-conteudo{
        padding:40px 20px;
        justify-self: center;
    }

    .depoimento img{
        height:200px;
    }
}