.seguros-bg{
    background-color:var(--c11);
}

.seguros{
    padding-top:60px;
    padding-bottom:60px;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:40px;
}

.seguros h2{
    grid-column:1/-1;
}

.seguros-item{
    background-color:var(--c12);
    padding:32px 32px 32px 60px;
    display: grid;
    grid-template-columns:1fr auto;
}

.seguros-item h3{
    margin-bottom:40px;
}

.seguros-item span{
    grid-column:2;
    display: block;
    text-align: right;
}

.seguros-item ul {
    grid-column:1/-1;
    margin-bottom:30px;
}

.seguros-item a{
    grid-column:1/-1;
}
.seguros-item li + li{
    margin-top: 20px ;
}

.seguros-item li::before{
    content:"";
    display:inline-block;
    width:13px;
    height:9px;
    background-image:url(../img/lista.svg);
}
.seguros-item li{
display: flex;
align-items: center;
gap:10px;
}

@media (max-width:800px){
    .seguros{
        grid-template-columns:1fr;
    }
}